#battle {
  box-shadow: var(--inset-shadow);
  background: url("https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/0032398f86ea753194c5eeba97eccda2-1627249600/ExportBackgroundnomoveclound/draw-a-pixel-pokemon-battle-background.gif");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: calc(100% - 40px);
  margin: 20px;
  height: 250px;
  position: fixed;
  overflow: hidden;

  #pokemon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: calc(100% - 20px);
    width: calc(100% / 2 + 20px);
    img {
      transition: 0.2s;
      &.missed {
        left: -100px;
      }
      &.attacked {
        left: 70px;
        bottom: 30px;
        opacity: 0 !important;
        transform: rotate(20deg) !important;
      }
      &.attack {
        left: -80px;
        bottom: -20px;
        transform: rotate(-20deg) !important;
      }
      &.fainted {
        transition: 1s;
        left: 80px;
        bottom: 20px;
        opacity: 0 !important;
        transform: rotate(90deg) !important;
      }
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }
  #trainer-pokemon {
    transition: 0.2s;

    position: absolute;
    left: 50px;
    bottom: 50px;
    &.missed {
      left: 100px;
    }
    &.attack {
      left: 80px;
      bottom: 70px;
      transform: rotate(20deg) !important;
    }
    &.attacked {
      left: 30px;
      bottom: 40px;
      opacity: 0 !important;
      transform: rotate(-20deg) !important;
    }
    &.fainted {
      transition: 1s;
      left: 20px;
      bottom: 40px;
      opacity: 0 !important;
      transform: rotate(-90deg) !important;
    }
  }

  #pokemon-bar,
  #user-pokemon-bar {
    position: absolute;
    background: white;
    width: 200px;
    box-shadow: var(--shadow);
    height: 30px;
    top: 20px;
    border-radius: 0px 10px 50px 0px;
    #name {
      font-size: 12px;
      text-transform: uppercase;
      position: absolute;
      right: 8px;
      top: 2px;
    }
    #health {
      box-shadow: var(--inset-shadow);
      height: 10px;
      background: white;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 0 20px 0 0px;
      overflow: hidden;
      div {
        position: absolute;
        height: 10px;
        left: 0;
        bottom: 0;
        transition: 0.3s;
      }
    }
  }
  #user-pokemon-bar {
    right: 0px;
    bottom: 0px;
    border-radius: 10px 0px 0px 50px;
    top: unset;
    bottom: 20px;
    #name {
      left: 8px;
    }
    #health {
      left: unset;
      right: 0;
      border-radius: 20px 0px 0px 0px;
      overflow: hidden;
      div {
        border-radius: 20px 0px 0px 0px;
      }
    }
  }

  #loading-pokeball {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    top: 0px;
    bottom: 0;
  }
}
