#canvas {
  box-shadow: var(--inset-shadow);
  background: white;
  border-radius: 20px;
  width: calc(100% - 40px);
  margin: 20px;
  height: 250px;
  position: fixed;
}

#buttons {
  box-shadow: var(--inset-shadow);
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  height: 200px;
  width: 200px;

  button {
    color: white;
    border: none;
    background: var(--red);
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow);
    &:active {
      box-shadow: var(--inset-shadow);
    }
    i {
      font-size: 30px;
    }
  }
  #button-up {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px 20px 5px 5px;
  }
  #button-down {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px 5px 20px 20px;
  }
  #button-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    border-radius: 20px 5px 5px 20px;
  }
  #button-right {
    border-left: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    border-radius: 5px 20px 20px 5px;
  }
}

#home-button {
  position: fixed;
  bottom: 20px;
  left: 0;
}
