#loading {
  color: white;

  #app-name {
    text-align: center;
    font-size: 50px;
    top: 0;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    background: white;
    color: black;
    border-radius: 0 0 30px 30px;
    box-shadow: var(--shadow);
    opacity: 0.9;

    sub {
      font-size: 15px;
    }
  }

  #about-app {
    opacity: 0.9;
    text-align: right;
    font-size: 12px;
    border-radius: 30px 0px 0px 30px;
    height: 200px;
    bottom: 40px;
    padding-bottom: 10px;
    right: 0;
    width: 100px;
    position: fixed;
    background: white;
    color: black;
    box-shadow: var(--shadow);

    #about {
      margin: 10px;
    }

    #app-version {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 10px;
    }
  }

  #about-line {
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 30px 0 0 0;
    width: 50px;
    height: 300px;
    box-shadow: var(--inset-shadow);
  }
  #name-line {
    position: fixed;
    width: 100%;
    height: 40px;
    border-radius: 0 0 30px 30px;
    box-shadow: var(--inset-shadow);
  }

  #poke-qr {
    box-shadow: var(--inset-shadow);
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    width: 150px;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 140px;
    z-index: -10;
  }
}
