#loading {
  color: white;
  #pokeball {
    border-radius: 50%;
    width: 150px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
  }

  #about {
    position: absolute;
    margin: 40px;
  }

  #app-name {
    text-align: center;
    font-size: 60px;
    top: 40%;
    position: absolute;
    left: 0;
    right: 0;
    sub {
      font-size: 20px;
    }
  }

  #app-version {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-weight: bold;
  }

  #start {
    color: white;
    border: none;
    background: #4caf50;
    position: absolute;
    bottom: 120px;
    font-size: 30px;
    width: 200px;
    margin: auto;
    border-radius: 30px;
    font-family: var(--theme);
    text-transform: uppercase;
    box-shadow: var(--shadow);
    left: 0;
    right: 0;
  }
  #bottom-line {
    z-index: -10;
    border-radius: 40px 40px 0 0;
    height: 140px;
    bottom: 0;
    width: 100%;
    position: fixed;
    box-shadow: var(--inset-shadow);
  }
}
