#search {
  button {
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: var(--theme);
  }

  #poke-trainer {
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
  }
  #pokemons {
    padding: 0 40px;
    background: white;
    box-shadow: var(--inset-shadow);
    border-radius: 20px;
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    div {
      position: relative;
      z-index: 20;
      display: inline-block;
      text-align: center;
      margin-left: -30px;
    }
  }

  #stats,
  #types {
    text-align: center;
    padding: 10px 20px;
    padding-bottom: 0;
    border-radius: 20px;

    .name {
      font-size: 20px;
      margin-bottom: 0px;
    }
  }

  #stats {
    text-align: left;
    button {
      color: black;
      background: white;
      box-shadow: 0px 0px 5px rgb(150, 150, 150);
      padding: 5px 10px;
      margin: 5px;
      transition: 0.3s;
      &.selected-stat {
        background: var(--green);
        color: white;
      }
    }
  }
  #types {
    text-align: right;

    .type {
      background: white;
      color: black;
      padding: 5px 10px;
      margin: 5px;
      display: inline-block;
      border-radius: 20px;
      align-items: center;
      display: inline-flex;
      position: relative;
      padding-left: 28px;
      text-transform: uppercase;
      font-size: 12px;
      box-shadow: 0px 0px 5px rgb(150, 150, 150);
      transition: 0.3s;

      &.selected-type {
        background: var(--green);
        color: white;
      }
      img {
        position: absolute;
        width: 20px;
        left: 3px;
      }
    }
  }

  #bottom-bar {
    position: fixed;
    bottom: 0;
    box-shadow: var(--shadow);
    border-radius: 30px 30px 0 0;
    width: 100%;
    background: white;
    height: 60px;
  }

  #home {
    font-size: 40px;
    background: none;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 20px;
  }
  #order-pokemon {
    font-size: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px 20px;
  }
  #filters {
    background: white;
    padding: 2px 0 20px 0;
    height: 250px;
    overflow: scroll;
    box-shadow: var(--inset-shadow);
    margin: 20px;
    border-radius: 20px;
  }
}
