#search {
  button {
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: var(--theme);
  }

  .selected-type,
  .selected-stat {
    background: green;
    color: white;
  }

  #poke-trainer {
    height: 100px;
    position: sticky;
    left: calc(50% - 20px);
    bottom: 20px;
    margin: auto;
    z-index: 10;
  }
  #pokemons {
    background: white;
    box-shadow: var(--inset-shadow);
    border-radius: 20px;
    width: calc(100% - 40px);
    margin: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    div {
      position: relative;
      z-index: 20;
      display: inline-block;
      text-align: center;
      margin-left: -30px;
    }
    .poke-stat {
      position: absolute;
      bottom: 0;
      margin: 15px;
    }
  }

  #stats,
  #types {
    box-shadow: var(--shadow);
    margin: 20px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px 40px;

    button {
      padding: 5px 10px;
      margin: 5px;
    }

    .name {
      font-size: 20px;
    }
  }

  #home {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 30px;
  }
  #order-pokemon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
}
