#pokeCard {
  background: white;
  position: fixed;
  top: 30px;
  width: calc(100% - 140px);
  border-radius: 0 30px 30px 0;
  box-shadow: var(--shadow);
  border-left: 0;
  height: 500px;
  font-weight: bold;

  #poke-name {
    font-size: 1.5rem;
    margin: 10px;
    text-transform: uppercase;
  }

  #poke-stats {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    text-transform: uppercase;
    width: 100px;
    .poke-stat {
      margin: 10px 20px;
      text-align: right;
    }
  }

  #poke-trainer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
  }
  #poke-size {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px 40px;
  }
  #poke-art {
    width: calc(100% - 40px);
    margin: 20px;
    position: absolute;
    top: 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}
