#sidePanel {
  background: #4caf50;
  position: fixed;
  width: 90px;
  bottom: 30px;
  right: 0;
  top: 280px;
  border-radius: 30px 0 0 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: var(--shadow);
  border-right: 0;
  text-align: left;

  .pokemon-icon {
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 15px;
    box-shadow: var(--shadow);
    text-align: center;
  }
}
